body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

i[aria-controls] {
  cursor: pointer;
}

.card .card-body {
  border-bottom: 1px solid lightgrey;
}

.card .card-body:nth-child(4) {
  border-bottom: 0;
}

.product-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.product-details img {
  width: 30%;
}

.product-details div {
  width: 60%;
}

.product-details .product-details-strikeprice {
  text-decoration: line-through;
  color: gray;
}

.total-table td:nth-child(2) {
  text-align: right;
}

.total-table td:nth-child(2) span, .product-details-price {
  font-weight: bold;
}